<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <script>
        // let arr = ['mary', 'john', 'winnie', 'joe']
        // let obj = {
        //     name: 'hello',
        //     age: 20,
        //     add: 'HK'
        // }
        // for(let i of arr){
        //     console.log(i);   //遍历数组的元素
        // }
        // for(let i in arr){
        //     console.log(i);   //遍历数组的索引值
        // }

        // for(let key in obj){
        //     console.log(key);
        //     console.log(obj[key]);
        // }
        // console.log(Object.keys(obj));
        // console.log(Object.values(obj));


        // let arr = [1, 3, 4, 1, 5, 2, 2, 4, 1, 1, 3]
        // let obj = {}
        // for(let i = 0; i < arr.length; i++){
        //     let key = arr[i]
        //     if(obj[key]){
        //         obj[key]++
        //     }else{
        //         obj[key] = 1
        //     }
        // }
        // console.log(obj);
        // for(let k in obj){
        //     if(obj[k] % 2 !== 0){
        //         console.log(k);
        //     }
        // }


        // let arr = [1, 3, 4, 1, 5, 2, 2, 4, 1, 1, 3]
        // const obj = arr.reduce((acc, item, index) => {
        //     if(item in acc){
        //         acc[item]++
        //     }else{
        //         acc[item] = 1
        //     }
        //     return acc
        // }, {})
        // console.log(obj);
        // for(let k in obj){
        //     if(obj[k] % 2 != 0){
        //         console.log(k);
        //     }
        // }


        // const arr = [{score: 9}, {score: 10}, {score: 11}];
        // const sum = arr.reduce((arr, item)=>{
        //     return arr + item.score
        // }, 0)
        // console.log(sum);



        const arr = [
            {
                name: '小明',
                sex: '男',
                id: 1
            },
            {
                name: '小红',
                sex: '女',
                id: 2
            },
            {
                name: '小花',
                sex: '女',
                id: 3
            }
        ]

        const obj = arr.reduce((acc, item) => {
            if (!(item.sex in acc)) {
                acc[item.sex] = []
            }
            acc[item.sex].push(item)
            return acc
        }, {})

        console.log(obj);




    </script>


</body>

</html>